
<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
</head>
<body>
    <h1 class="display-4">You have Successfully Loged Out</h1>
    <h2>Thanks for chatting</h2>
    <h6>More work to come.</h6>

    <div>
        <nav>
            <a class="btn btn-primary btn-lg" role="button" asp-controller="Home" asp-action="Index">Back to Login</a>
        </nav>
    </div>


</body>
</html>