@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<!DOCTYPE html>
<html>
<head>
    <title>InstaChat</title>
</head>
<body>
    <h1>Wrong Index</h1>
</body>
</html>