@*@using InstaHub_MVC.Models;
    @using Microsoft.AspNetCore.Identity;
    @inject SignInManager<ApplicationUser> SignInManager*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="ui comments">
    <input type="button" id="joinGroup" value="Join Private Group" />
</div>

@*<textarea name="message" id="message"></textarea>*@
<select id="group">
    <option value="All">Everyone</option>
    <option value="Myself">Myself</option>
    <option value="PrivateGroup">Private Group</option>
</select>
@*<input type="button" id="sendButton" value="Send Message" />

    @*<div id="messages"></div>*@


<div id="wrapper">
    <div class="ui sidebar inverted vertical menu visible" id="dmContainer">
        <a class="header item">
            Channels
        </a>
        <a class="item">
            #Family Channel
        </a>
        <!--
    <a class="item">
        #private channel coming soon
    </a>-->
        <a class="item">
            #support...just txt carlos for now
        </a>

        <div class="ui horizontal divider">

        </div>

        <a class="header item">
            Direct Messages
        </a>
        <a class="item">
            slackbot (coming soon)
        </a>

    </div>
    <div class="pusher">
        <!-- Site content !-->
        <div class="ui secondary  menu">
            <div class="header item">
                #General
            </div>
            
        </div>
        <div id="messages">
            <div class="ui message">
                <p>
                    <img class="ui avatar image" src="https://wths.hope.edu/wp-content/uploads/2017/04/profile-placeholder.png"> Top of Chat.  &#161;HOLA!
                </p>
            </div>
        </div>

        <div class="ui vertical footer segment" id="footer">

            <div class="ui fluid action input">
                <div class="spacer"></div>
                <input type="text"  onkeypress="if (event.keyCode === 13) { document.getElementById(`sendButton`).click(); }" name="message" id="message" placeholder="Message #general"/>
                <div class="ui button" id="sendButton">Send Message</div>
            </div>
        </div>

    </div>
</div>

